<%-include("./partials/header.ejs")  %>
<!-- FORM TO USE FOR LATER -->
<form action="/patient/<%=appt.id%>?_method=PUT" method="POST" method="POST"class="form showForm flex justify-center flex-col">
      
    <label for="firstName">First Name</label>
    <input type ="text" class="form-input" id="firstName" name="firstName" value="<%=appt.firstName %> " required>

    <label for="lastName">Last Name</label>
    <input type="text" class="form-input" id="lastName" name="lastName" value="<%=appt.lastName %> "required>

    <label for="lastName">Doctor Name</label>
    <select class="form-select" id="docName" name="docName" required>
        
        <option value="<%=appt.docName %>">
            <%=appt.docName %>
        </option>
        <option>Please select a doctor</option>
        <option value="Dr.Rousse Bidon">
           Rousse Bidon
        </option>
        <option value="Dr.Jack Bahari">
          Jack Bahari
        </option>
        <option value="Dr. Nancy Muller">
            Nancy Muller
        </option>
    </select>

    <label for="time">Time</label>
    <input type="time"class="form-input" id="time" name="time" value="<%=appt.time %>" placeholder="<%=appt.time%> " required>

    <label for="date">Date</label>
  <input type="date" name="date" value="<%=appt.date%>" required>

    <label for="reason">Reason</label>
    <textarea class="form-textarea" id="reason" name="reason"  rows="4" cols="50" value="<%=appt.reason %>"  required><%=appt.reason %>
    </textarea>

    <button class="submitBtn">Submit Appointment Changes</button>
</form>

<%-include("./partials/footer.ejs")  %> 