<%-include("./partials/headerforProfile.ejs")  %>
<style>
  .submitBtn{
        background-color: #92B4A7;
    }
    .checkboxHolder{
    display:flex;
    justify-content: flex-end;
    align-content: center;
    }
    .noteToSelf {
    background-color: rgb(253 230 138);
    color: #444;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    border: 2px solid rgb(227, 227, 227);
    border-radius: 4px;
    text-align: right; 
    outline: none;
    font-size: 15px;
    max-width: 32vw;
    font-weight:bold;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .noteToSelf:hover {
    background-color: rgb(252 211 77);
  }
  .notes {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(253 230 138);
    max-width: 32vw;
  }
  .submitNote{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(212, 87, 34);
    max-width: 32vw;
    border-radius: 5px;
  }
  .editNote{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(132 204 22);
    max-width: 32vw;
    border-radius: 5px;
  }
  .submitNoteContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:11px;
  }
  .noteHolder{
    max-width: 32vw;
    /* position: fixed; */
    /* right: 0; */
    top: 126px;
  }
</style>

<div class="flex justify-center">
  <h1 class="text-center text-3xl rounded-full" style="  background-color: #92B4A7; padding:5px;margin-bottom: 16px; width:80vw;">Edit Appointment Card </h1>
</div>
<div class="noteHolder"> 
  <!-- Note that states the hour of options 8 am to 6pm -->
  <button class="noteToSelf">Note to Self</button>
  <div  id="notes" class="notes" contenteditable="true">
    <!-- <p>Hour of Operation:
      <span style="color:red; font-weight:bold;"> 8 am to 6 pm</span>
    </p>
    <h3 style="text-decoration:underline;">Doctor Schedule:</h3>
    <ol>
      <li>Dr. Smith: Available</li>
       <li>Dr. Bahari: Avaliable</li>
    </ol> -->
</div>
<div class="submitNoteContainer">
  <!-- <button class="editNote">Edit</button> -->
  <button class="submitNote">Submit</button>
</div>
</div>
<br>
<!-- FORM TO USE FOR LATER -->
<form action="/patient/<%=appt.id%>?_method=PUT" method="POST" method="POST"class="form showForm flex justify-center flex-col">

  <div class="checkboxHolder gap-4">
      <label for="firstAppt"> First Appointment</label>
      <input type="checkbox" name="firstAppt" id ="firstAppt"
      <% if(appt.firstAppt === true) { %>
          checked
      <% } %>
      /> 
  </div>

      
    <label for="firstName">First Name</label>
    <input type ="text" class="form-input" id="firstName" name="firstName" value="<%=appt.firstName %> " required>

    <label for="lastName">Last Name</label>
    <input type="text" class="form-input" id="lastName" name="lastName" value="<%=appt.lastName %> "required>

    <label for="lastName">Doctor Name</label>
    <select class="form-select" id="docName" name="docName" required>
        <option>Please select a doctor</option>
      <% if(appt.docName === "Jordan Smith"){ %> 
        <option value="<%=appt.docName %>" selected>
            <%=appt.docName %>
        </option>
        <option value="Jack Bahari">
          Jack Bahari
      </option>
      <option value="Nancy Muller">
        Nancy Muller
    </option>
      <% } else if (appt.docName === "Jack Bahari"){ %>
        <option value="<%=appt.docName %>" selected>
          <%=appt.docName %>
      </option>
      <option value="Jordan Smith">
        Jordan Smith
     </option>
      <option value="Nancy Muller">
      Nancy Muller
    </option>
      <% } 
     else if(appt.docName === "Nancy Muller") {%>
      <option value="<%=appt.docName %>" selected>
            <%=appt.docName %>
        </option>
        <option value="Jordan Smith">
        Jordan Smith
      </option>
      <option value="Jack Bahari">
        Jack Bahari
      </option>
      <% } %>   
    </select>

    <label for="time">Time</label>
    <input type="time"class="form-input" id="time" name="time" value="<%=appt.time %>" placeholder="<%=appt.time%> " required>

    <label for="date">Date</label>
  <input type="date" name="date" value="<%=appt.date%>" required>

    <label for="reason">Reason</label>
    <textarea class="form-textarea" id="reason" name="reason"  rows="4" cols="50" autocorret="on" value="<%=appt.reason %>"  required><%=appt.reason %>
    </textarea>
<br>
<div class="flex justify-center align-center gap-4">
  <button class="rounded-full cancelBtn bg-red-700" style="padding:5px;">
    <a href="/patient">Cancel </a>
  </button>
   <button class="submitBtn rounded-full py-2" style="padding:5px;">Update Appointment Card</button>
</div>
   
</form>
<script>
  let noteToSelf = document.querySelector(".noteToSelf");
  let submitNote = document.querySelector(".submitNote");
  let editNote = document.querySelector(".editNote");
  let content = document.querySelector('.content');
  let notes=document.querySelector('#notes');
noteToSelf.addEventListener("click", () => { 
    
        let notes = noteToSelf.nextElementSibling;
        noteToSelf.classList.toggle("active");
        submitNote.classList.toggle("active");
        if (noteToSelf.classList.contains("active")) {
          notes.style.display = "flex";
          notes.style.flexDirection = "column";
          notes.style.justifyContent = "flex-start";
          submitNote.style.display = "flex"
          // editNote.style.display = "flex"
        } else {
          notes.style.display = "none";
          submitNote.style.display = "none"
          // editNote.style.display = "none"
        }
});
document.querySelector("#notes").addEventListener("click", ()=>{
  document.querySelector("#notes").setAttribute("contenteditable", true);
})

window.onload = () => {
	if(localStorage.getItem('notes')) {
		document.querySelector('#notes').innerHTML = localStorage.getItem('notes');
  }
}
// editNote.addEventListener("click",()=>{
//  document.querySelector("#notes").setAttribute("contenteditable", true);
// })
submitNote.addEventListener("click", ()=>{
  document.querySelector("#notes").setAttribute("contenteditable", false);
  localStorage.setItem('notes', notes.innerHTML);
})

</script>
<%-include("./partials/footer.ejs")  %> 