<%-include("./partials/header.ejs")%>
<style>
  .home{
    color:#92B4A7;
  }
</style>
<h1 class="text-2xl text-center"> Welcome to Doc McOffice</h1>
<div class="container">
  <!-- Note that states the hour of options 8 am to 6pm -->
<button class="container createBtn">
    <a href="/patient/new" class="rounded-full bg-sky-500 p-2 bg-emerald-500">Create Appointment</a>
</button>
<div class="container tableContainer">
    
<table class="table-auto">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Doctor</th>
        <th>Time</th>
        <th>
           
           <div class=" flex flex-col content-end items-center  up&downArrow">
             <button class="flex justify-center">
              <i class="fa-solid fa-caret-up"></i>
            </button>
             Date  
             <form action="/patient/descendingdates?_method=PUT" method="POST">
            <button class="flex justify-center"><i class="fa-solid fa-caret-down"></i>
            </button>
          </form>
          </div>
            
        </th>
          
          
        
        <!-- Save this for the Admin section <th><label for="firstAppt">First Appointment</label></th> -->
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
        <%for(let i = 0; i< allAppts.length; i++){  %> 
        <!-- First section -->
        <tr>
         <td><a href="/patient/<%=allAppts[i].id %> "><%=allAppts[i].firstName%></a> </td>
        <!-- First section -->
            <td><%=allAppts[i].lastName%> </td>
        <!-- Doctor Name -->

          <td><%=allAppts[i].docName%></td>
        <!-- Time Section -->
          
          <% if(allAppts[i].time > "12:00") {%> 
            <td> <%=allAppts[i].time%> pm</td>
          <% } else{ %> 
            <td><%=allAppts[i].time%>am </td>
            <% } %> 
        <!-- Date Section -->
            <td><%=allAppts[i].date%></td>
               
            
        <!-- First Appt Section -->
            <!-- <td>
            <% if(allAppts[i].firstAppt === true) {%> 
                <input type="checkbox" id="firstAppt" name="firstAppt" checked>
             <%} else{%>
                <input type="checkbox" id="firstAppt" name="firstAppt">
           <%  }%>
            </td> -->
        <!-- DELETE BUTTON -->
        <td>
            <form action="/patient/<%=allAppts[i].id  %>?_method=DELETE" method="POST">
            <button class="rounded-full bg-sky-500 bg-red-600 px-4"><i class="fa-solid fa-x"></i></button> 
            </form>
        </td>

        <!-- EDIT FORM/ Button -->
        <td>
          <a href="/patient/<%=allAppts[i].id%>/edit ">
        <button class="rounded-full bg-sky-500 px-4 bg-emerald-500"><i class="fa-solid fa-pencil"></i></button>
      </a>
        </td>
    </form>
        </tr>
      <%  }%> 
     
       
    </tbody>
  </table>
</div>
</div>
<%-include("./partials/footer.ejs")%>