<%-include("./partials/headerforProfile.ejs")%>
<style>
  .home{
    color:#92B4A7;
  }
  .noteToSelf {
    background-color: rgb(253 230 138);
    color: #444;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    border: 2px solid rgb(227, 227, 227);
    border-radius: 4px;
    text-align: left;
    outline: none;
    font-size: 15px;
    max-width: 32vw;
    font-weight:bold;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .noteToSelf:hover {
    background-color: rgb(252 211 77);
  }
  .notes {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(253 230 138);
    max-width: 32vw;
  }
  .submitNote{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(212, 87, 34);
    max-width: 32vw;
    border-radius: 5px;
  }
  .editNote{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(132 204 22);
    max-width: 32vw;
    border-radius: 5px;
  }
  .submitNoteContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:11px;
  }
  .noteHolder{
    max-width: 32vw;
  }
</style>

<h1 class="text-4xl text-center"> Welcome to Doc McOffice</h1>
<div class="noteHolder"> 
  <!-- Note that states the hour of options 8 am to 6pm -->
  <button class="noteToSelf">Note to Self</button>
  <div  id="notes" class="notes" contenteditable="true">
    <p>Hour of Operation:
      <span style="color:red; font-weight:bold;"> 8 am to 6 pm</span>
    </p>
    <h3 style="text-decoration:underline;">Doctor Schedule:</h3>
    <ol>
      <li>Dr. Smith: Available</li>
       <li>Dr. Bahari: Avaliable</li>
       <li>Dr. Bidon: Retired</li>
    </ol>
</div>
<div class="submitNoteContainer">
  <!-- <button class="editNote">Edit</button> -->
  <button class="submitNote">Submit</button>
</div>
 </div>
<button class="container createBtn ">
    <a href="/patient/new" class="rounded-full bg-sky-500 p-2 bg-emerald-500">Create Appointment</a>
</button>
<br>
<div class=" tableContainer">
    
<table class="table-auto">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Doctor</th>
        <th>Time</th>
        <th>
           
           <div class=" flex flex-col content-end items-center  up&downArrow">
            <form action="/patient/ascendingdates?_method=PUT" method="POST">
               <button class="flex justify-center">
              <i class="fa-solid fa-caret-up"></i>
            </button>
            </form>
            
             Date  
             <form action="/patient/descendingdates?_method=PUT" method="POST">
            <button class="flex justify-center"><i class="fa-solid fa-caret-down"></i>
            </button>
          </form>
          </div>
            
        </th>
          
          
        
        <!-- Save this for the Admin section -->
        <th>
          <label for="firstAppt">First Appointment</label>
        </th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
        <%for(let i = 0; i< allAppts.length; i++){  %> 
        <!-- First section -->
        <tr>
         <td><a href="/patient/<%=allAppts[i].id %> "><%=allAppts[i].firstName%></a> </td>
        <!-- First section -->
            <td><%=allAppts[i].lastName%> </td>
        <!-- Doctor Name -->

          <td><%=allAppts[i].docName%></td>
        <!-- Time Section -->
          
          <% if(allAppts[i].time > "12:00") {%> 
            <td> <%=allAppts[i].time%> pm</td>
          <% } else{ %> 
            <td><%=allAppts[i].time%>am </td>
            <% } %> 
        <!-- Date Section -->
            <td><%=allAppts[i].date%></td>
               
            
        <!-- First Appt Section -->
             <td>
              <input type="checkbox" name="firstAppt" id="firstAppt" value="<%=allAppts[i].firstAppt%> "
              <% if(allAppts[i].firstAppt === true) { %>
                  checked
              <% } %>
              disabled/> 
        
            </td> 
        <!-- DELETE BUTTON -->
        <td>
            <form action="/patient/<%=allAppts[i].id  %>?_method=DELETE" method="POST">
            <button class="rounded-full bg-sky-500 bg-red-600 px-4"><i class="fa-solid fa-x"></i></button> 
            </form>
        </td>

        <!-- EDIT FORM/ Button -->
        <td>
          <a href="/patient/<%=allAppts[i].id%>/edit ">
        <button class="rounded-full bg-sky-500 px-4 bg-emerald-500"><i class="fa-solid fa-pencil"></i></button>
      </a>
        </td>
    </form>
        </tr>
      <%  }%> 
     
       
    </tbody>
  </table>
</div>
</div>
<script>
  let noteToSelf = document.querySelector(".noteToSelf");
  let submitNote = document.querySelector(".submitNote");
  let editNote = document.querySelector(".editNote");
  let content = document.querySelector('.content');
  let notes=document.querySelector('#notes');
noteToSelf.addEventListener("click", () => { 
    
        let notes = noteToSelf.nextElementSibling;
        noteToSelf.classList.toggle("active");
        submitNote.classList.toggle("active");
        if (noteToSelf.classList.contains("active")) {
          notes.style.display = "flex";
          notes.style.flexDirection = "column";
          notes.style.justifyContent = "flex-start";
          submitNote.style.display = "flex"
          // editNote.style.display = "flex"
        } else {
          notes.style.display = "none";
          submitNote.style.display = "none"
          // editNote.style.display = "none"
        }
});
document.querySelector("#notes").addEventListener("click", ()=>{
  document.querySelector("#notes").setAttribute("contenteditable", true);
})

window.onload = () => {
	if(localStorage.getItem('notes')) {
		document.querySelector('#notes').innerHTML = localStorage.getItem('notes');
  }
}
// editNote.addEventListener("click",()=>{
//  document.querySelector("#notes").setAttribute("contenteditable", true);
// })
submitNote.addEventListener("click", ()=>{
  document.querySelector("#notes").setAttribute("contenteditable", false);
  localStorage.setItem('notes', notes.innerHTML);
})

</script>
<%-include("./partials/footer.ejs")%>